# Python
__pycache__/
*.pyc

# Local venv
.venv/

# Streamlit cache/config
.streamlit/

# Old backups you don't want in the repo
old/
data/old/
pages/old/

# Office temp files
~$*.docx
